.wrap{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Quicksand', sans-serif,微軟正黑體;
    min-height: 100%;
}
.header{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}
h1{
    margin-top: 25px;
    float: left;
    margin-right: 80px;
    width:240px;
    cursor: pointer;
}
h1 img{
     width:100%;
}
.toolbar{
    height: 60px;
    padding-right: 40px;
    box-sizing: border-box;
}
.search{
    float: right;
}
.search_blank{
    width: 220px;
    height: 27px;
    padding-left: 6px;
    border: 0.5px solid #BEBEBE;
    font-size: 16px;
    float: left;
    font-family: 'Quicksand', sans-serif,微軟正黑體;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.search_image[type='image']{
    width: 31px;
    height: 31px;
    padding: 5px;
    box-sizing: border-box;
    background-color:#02C39A;
    float: left;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.search_image[type='image']:hover{
    background-color:  #1AFD9C;
    -webkit-transition: 1s;
}
#login{
    width: 75px;
    height: 35px;
    font-size: 16px;
    font-family: 微軟正黑體;
    color: #01abad;
    border-radius: 8px;
    border: 1px solid #02CBCE;
    background-color: #fff;
    float: right;
    cursor: pointer;
    margin-left: 35px;
}
#login:hover{
    background-color: #02CBCE;
    color: #fff;
     -webkit-transition: 1s;
 }   
#user{
    background-image:url('../image/profilepic.jpg');
    width: 40px;
    height: 40px;
    background-size:contain;
    float: right;
    border-radius: 100px;
    margin-top: -5px;
    cursor: pointer;
    position: relative;
    margin-left: 35px;
}
.user_info{
    width:270px;
    height:160px;
    background-color:#fff;
    text-align: center;
    line-height: 30px;
    padding-top: 10px; 
    color: #4A4A4A;
    position: absolute;
    top:60px;
    left: -200px;
    border: 0.5px solid #c5c5c5;
    box-shadow: 0 0 15px rgba(0,0,0,.18);
    z-index: 2;
    cursor: default;
}
.user_info ul>li{
    list-style: none;
    float: left;
    width: 90px;
    font-size: 16px;
}
.user_info b2{
    font-size: 28px;
    line-height: 50px;
}
.user_info b3{
    font-size: 28px;
    line-height: 50px;
}
.user_info p{
    font-size: 22px;
}
.user_info img{
    width: 55px;
}
.user_info .arrow_bottom_int{
    width:0px;
    height:0px;
    border-width:16px;
    border-style:solid;
    border-color:transparent transparent #c5c5c5 transparent;
    position:absolute;
    top:-32px;
    left:200px;
}
.user_info .arrow_bottom_out{
    width:0px;
    height:0px;
    border-width:16px;
    border-style:solid;
    border-color:transparent transparent #fff transparent;
    position:absolute;
    top:-31px;
    left:200px;
}
.user_info .bot_area{
    position: absolute;
    background: #f5f5f5;
    width: 270px;
    height: 60px;
    top:110px;
}
.logout{
    font-family: 微軟正黑體;
    font-size: 14px;
    width: 60px;
    height: 35px;
    position: absolute;
    top:12px;
    left: 190px;
    cursor: pointer;
    border: 1px solid #C6C6C6;
    background-color: #F9F9F9;   
}
.logout:hover{
    background-color: #EAEAEA;
}
.menu{
    width: 1000px;
    height: 45px;
}
.menu li{
    width: 165px;
    height: 40px;
    text-align: center;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}
.menu b{
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 3px;
}
.menu a{
    color: #3B3B3B;
    text-decoration:none;
}
.menu li:hover{
    border-bottom:2px solid #FF3366;
}
hr{
    border:2px solid #3B3B3B;
    margin: 0px;
}
h2{
    font-weight: 200;
    text-align: center;
    margin-bottom:30px;
    font-size: 24px;
    display: block;
    padding-top: 40px;
}

/*Footer-----------------------------------------------------------------------------*/
.footer_space{
    height: 100px;
}
footer{
    text-align: center;
    color: white;
    background: #01abad;
    height: 80px;
    line-height: 25px;
    padding-top: 5px;
    font-family: 'Quicksand', sans-serif,微軟正黑體;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 2;
}
footer li{
    display: none;
}
h3{
    font-size: 25px;
}

/*-------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width:800px) {
    .wrap{
        max-width: 100%;
        
    }
    .header{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
        padding-bottom: 5%;
        display: block;
        background: #01abad;
        height: 25px;
        margin-bottom: 0px;
    }
    h1{
        display: none;
    }    
    h2{
        margin-bottom: 20px;
        margin-right: 10%;
        margin-left: 10%;
        width: 80%;
        font-size: 22px;
        text-align: left;
        border-bottom:0.01px grey dotted ;
        line-height: 24px;
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .toolbar{
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 0px;
        padding-right: 0px;
    }
    #user{
        margin:-8px 0px 0px 10px;
    }
    .user_info{
        width: 240px;
        height: 140px;
        left: -180px;
    }
    .user_info ul>li{
        width: 80px;
        font-size: 14px;
    }
    .user_info b2{
        font-size: 24px;
    }
    .user_info b3{
        font-size: 24px;
    }
    .user_info p{
        font-size: 20px;
    }
    .user_info img{
        width: 45px;
    }
    .user_info .arrow_bottom_int{
        left: 180px;
    }
    .user_info .arrow_bottom_out{
        left: 180px;
    }
    .user_info .bot_area{
        width: 240px;
        height: 45px;
        top:105px;
    }
    .logout{
        border: none;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 18px;
    }
    .logout:hover{
        background-color: #02C8CC;
        -webkit-transition: 0.8s;
        color: #fff;
    }
    #login{
    	width: 55px;
    	height: 85%;
    	margin-top: -15px;
    	margin-left: 0px;
    }
    #login:hover{
    	background-color: #FFE19E; 
    	border: 0px;
    	color: #66697F;
    	-webkit-transition: 0.5s;
	}
    .search{
        float: none;
        margin: 0px;
    }
    .search_blank{
        background-image: url('../image/search.png');
        background-size:23px 23px;
        background-repeat: no-repeat;
        width: 85%;
        padding-left: 25px;
        box-sizing: border-box;
        border-radius: 5px;
    }
    .search_image{
        display: none;
    }
    .menu ul{
        display: none;
    }
    hr{
        display: none;
    }
    h4{
        display: none;
    }
    h3{
        display: none;
    }
    .footer_space{
        min-height: 60px;
        height: 100%;
    }
    footer{
        padding-top: 5px;
        padding-bottom: 5px;
        min-height: 60px;
        height: 7%;
        box-sizing: border-box;
    }
    footer p{
        display: none;
    }
    footer li{
        margin-top: 1.5%;
        line-height: 50px;
        display: inline-block; 
        width:23%;
    }
    footer img{
        max-width:30px;
        max-height: 30px;
        padding-top: 2px;
        box-sizing: border-box;
        width: 90%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

/*-------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width:500px){
    .toolbar{
        width: 90%;
        margin-left: 5%;
    }
    .user{
        margin-left: 4%;
    }
    h2{
        font-size: 20px;
    }
    .search_blank{
        width: 80%;
    }
    .user_info{
        width: 210px;
        height: 120px;
        left: -160px;
    }
    .user_info ul>li{
        width: 70px;
        font-size: 12px;
    }
    .user_info b2{
        font-size: 20px;
        line-height: 40px;
    }
    .user_info b3{
        font-size: 20px;
        line-height: 40px;
    }
    .user_info p{
        font-size: 18px;
    }
    .user_info img{
        width: 40px;
    }
    .user_info .arrow_bottom_int{
        left: 165px;
    }
    .user_info .arrow_bottom_out{
        left: 165px;
    }
    .user_info .bot_area{
        width: 210px;
        height: 40px;
        top:90px;
    }
    .logout{
    	font-size: 16px;
    }   
}