html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*-------------------------------------------------------------------------------------------------------------*/
#content{
    width: 100%;
}
#content li{
    width: 50%;
    float: left;
    box-sizing: border-box;
}
#content b{
    font-weight: 200;
}
#content h2>br{
    display: none;
}
.qwer{
    width: 100px;
    float: left;
    margin-left: 70px;
}
.cccc{
    text-align: left;
    float: left;
    width: 30px;
}
#Countmanshow{
    text-align: left;
    float: left;
    width: 30px;
}
.aaaa{
    display: block;
    margin-top: 10px;
}
.bar{
    height: 400px;
    margin-bottom: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.bar li{
    display: inline-block;
    text-align: center;
    width:50%;
    margin-right: 25%;
    margin-left: 25%;
}
.top5{
    height: 330px;
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;
}
.top5 ul{
    box-sizing: border-box;
    font-size: 20px;
}
.top5 li>img{
    width: 40px;
}
.subtitle{
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}
h5{
    width: 220px;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    float: left;
    padding-left: 30px;
    box-sizing: border-box;
}
h6{
    width: 80px;
    font-weight: 200;
    font-size: 18px;
    float: right;
    text-align: right;
}
#content .top5 li{
    width: 100%;  
    height: 40px;
    line-height: 40px;
    text-align: left;
    float: none;
    margin-bottom: 10px;
}
.top_title{
    width: 40px;
    background: #01abad;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    float: left;
    margin-right: 25px;
}
.madelpic{
    float: left;
}

.alink{
    display: block;
    float: left;
}
.top5 a{
    text-decoration: none;
    color: #4B4B4B;
}
.top5 a:hover{
    color: #02CBCE;
}
.cool{
    float: right;
    color: #456990;
}
.top_slide{
    width: 200px;
    line-height: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border: 0.5px solid #A4A8BF;
    margin-bottom: 30px;
    opacity: 0.7;
}
.top_slide:hover{
    opacity: 1;
    -webkit-transition: 0.5s;
}
.top10{
    height: 350px;
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;
    display: none;
}
.top10 ul{
    box-sizing: border-box;
    font-size: 20px;
}
.top10 li>img{
    width: 40px;
}
#content .top10 li{
    width: 100%;  
    height: 40px;
    line-height: 40px;
    text-align: left;
    float: none;
    margin-bottom: 10px;
}
.top_title_2{
    width: 40px;
    background: #00aed6;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    float: left;
    margin-right: 25px;
}
.top10 a{
    text-decoration: none;
    color: #4B4B4B;
}
.top10 a:hover{
    color: #00aed6;
}

.battle_channel{
    width:250px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.battle_channel:hover{
    opacity: 0.8;
}
.bar p{
    font-weight: 200;
    text-align: center;
    margin-bottom:15px;
    font-size: 22px;
    padding-bottom: 5px;
    border-bottom: 1.5px dotted #272727;
}
.clear{
    float: none;
}
/*-------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width:800px) {
    
    #content{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        min-width: 100px;
    }
    #content li{
        width: 100%;
        float: none;
    }
    #content b{
        display: none;
    }
    #content h2>br{
        display: block;
    }
    .menu{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .bar{
        width: 100%;
        height: 330px;
    }
    .battle_channel{
        width:200px;
        height:200px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .bar li{
        margin: 20px 0px 0px 0px;
        line-height: 20px;
    }
    .top5{
        padding-right: 5%;
        padding-left: 5%;
    }
    .top5 ul{
        font-size: 18px;
    }
    .top_title{
        width: 30px;
        margin-right: 15px;
        line-height: 30px;
        font-size: 26px;
    }
    .subtitle{
        line-height: 40px;
    }
    h5{
        width: 60%;
    } 
    h6{
        width: 60px;
    }
    .top10{
        padding-right: 5%;
        padding-left: 5%;
        height: 300px;
    }
    .top10 ul{
        font-size: 18px;
    }
    .top_title_2{
        width: 30px;
        margin-right: 15px;
        line-height: 30px;
        font-size: 26px;
    }
}

/*-------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width:500px){
    .battle_channel{
        width:200px;
        height:200px;
    }
    .bar li{
        width: 200px;
    }
    .top5 ul{
        font-size: 16px;
    }
    .top_title{
        width: 25px;
        margin-right: 5px;
        line-height: 30px;
        font-size: 20px;
    }
    .top10 ul{
        font-size: 16px;
    }
    .top_title_2{
        width: 25px;
        margin-right: 5px;
        line-height: 25px;
        font-size: 20px;
    }
   
}