html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}


/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-------------------------------------------------------------------------------------------------------------*/

#content{
    width: 70%;
    text-align: center;
    margin: auto;
}
h2{
    margin-bottom:30px;
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
#content b{
    font-weight: 200;
}
#content br{
    display: none;
}
.clear{
    clear: both;
}
/*--------------------------------------*/
.topbar{
    display: block;
    height: 250%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.leftbar{
    float: right;
    width: 68%;
    height: 100%;
}
.leftbar li{
    line-height: 60px;
    text-align: left;
}
.madelevel{
    width: 100px;
    height: 100px;
    margin-top: 25px;
    margin-left: 30px;
    display: block;
    float: left;
}
.madelevel img{
    width: 100px;
    height: 100px;
}
#info{
    line-height: 70px;
    letter-spacing: 3px;
    padding-left: 50px;
    margin-left: 110px; 
    width: 270px;
    display: block;
}
a{
    text-decoration: none;
}
.blank{
    text-align: right;
    display: inline-block;
    float: right;
}
/*---------追蹤清單--------------*/
#track_list{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
#track_list li{
    width: 31%;
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
    float: none;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: default;
}
#track_list img{
    display: none;
}
#track_list a{
    text-decoration: none;
}
.topbar p{
    margin-top: 30px;
    font-size: 20px;
}
@import url(http://fonts.googleapis.com/css?family=Raleway);
nav {
  text-align: center;
}
#nav-1 {
  background: #ffffff;
}

.link-1 {
  transition: 0.5s ease;
  background: #ffffff;
  color: #00CDCD;
  font-size: 18px;
  text-decoration: none;
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 15px 0;
  margin: 0 20px;
}
.link-1:hover {
  border-top: 4px solid #00CDCD;
  border-bottom: 4px solid #00CDCD;
  padding: 6px 0; 
}
/*--------------------------*/
.rightbar{
    float: left;
    width: 30%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.rightbar #userimg{
    float: none;
    width: 170px;
    height: 170px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content, .entire_photo { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    max-width: 900px;
    max-height: 600px;
}
.trackbutton{
    display: block;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
/*-----------------------------------------*/
@-webkit-keyframes follow-animation {
  from {background: white; color: #3399FF; width: 100px; left: 50px;}
  to {background: #00CDCD; border-color: #00CDCD; color: #ffffff; width: 100px; left: 35px;}
}
@-webkit-keyframes unfollow-animation {
  from {background: #00CDCD; color: #ffffff; width: 100px; left: 35px;}
  to {background: white; border-color: #3399FF; color: #3399FF; width: 100px; left: 50px;}
}

/* Standard syntax */
@keyframes follow-animation {
  from {background: white; color: #3399FF; width: 100px; left: 50px;}
  to {background: #00CDCD; border-color: #00CDCD; color: #ffffff; width: 100px; left: 35px;}
}
@keyframes unfollow-animation {
  from {background: #00CDCD; color: #ffffff; width: 100px; left: 35px;}
  to {background: white; border-color: #3399FF; color: #3399FF; width: 100px; left: 50px;}
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/* input button */
input {
  -webkit-appearance: none;
}

input:after {
  color: #3399FF;
  font-family: "微軟正黑體";
  font-size: 12pt;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #3399FF;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 5px 15px;


  content: '追蹤';
  -webkit-animation: unfollow-animation 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-fill-mode:forwards;
  animation: unfollow-animation 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode:forwards;
}

input:checked:after {
  content: '已追蹤';
  -webkit-animation: follow-animation 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-fill-mode:forwards;
  animation: follow-animation 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode:forwards;
}
/*-------------------------------------------*/
.downbar{
}
.downbar li {
    display: block;
    width: 100%;
    text-align: left;
    display: inline-block;
    line-height: 30px;
    padding-bottom:25px;
    border-bottom: 1px solid    #E0EEEE;
    border-bottom-width: 80%;
}
.downbar p{
    color:#03A89E;
    float: left;
    font-weight: bolder;
    width: 40%;
    font-size: 16px;
    cursor: default;
}


.blankz{
    text-align: left;
    display: inline-block;
    float: right;
    width: 60%;
    cursor: default;  
}

b1{
    background: url(http://2.bp.blogspot.com/-WLxu_AFXwl4/UAQdpqrlDxI/AAAAAAAADFg/fCQgtBFv41I/s1600/green.png) repeat no-repeat bottom;
    line-height: 22px;
}

/*-----------------------------------------------------*/

@media only screen and (max-width:800px) {
    
    #content{
        width: 60%;
        min-width: 200px;
    }  
    #content br{
        display: block;
    }
    .bar_item{
        margin-bottom: 10px;
    }
    .bar li{
        margin-top: 20px;
        line-height: 20px;
    }
    h3{
        display: none;
    }
    #content{
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    #content b{
        display: none;
    }
    #content h2>br{
        display: block;
    }
    
    .name_blank{
        float: none;
        text-align: center;
    }
    #track_list{
        text-align: center;
    }
    #track_list li{
        line-height: 200%;
        width: 25%;
        font-size:100%;
        border: none;
        display: inline-block;
        text-align: center;
        letter-spacing: 5px;
    }
    #track_list b1{
        display: none;
    }  
    #track_list img{
        display:inline-block;
        width: 50%;
    }

}

/*-------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width:500px){
    
}