html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}


/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-------------------------------------------------------------------------------------------------------------*/
#content b{
    font-weight:200;
}
#content h2>br{
    display: none;
}
.changename {
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    text-align: center;
}
.changename b{
    font-size: 20px;
}
b{
    font-weight: 200;
}
#change_name_blank{
    width: 450px;
    text-align: center;
    margin-right:auto;
    margin-left:auto;
}
#correctinfo{
    text-align: center;
}
#change_name_blank input{
    width: 100%;
    display: block;
    border-style: none;
    line-height: 20px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif,微軟正黑體;
}
#changeinfoName{
    width: 120px;
    line-height: 30px;
    border: 0;
    font-size: 18px;
    margin-top: 10px;
    font-family:微軟正黑體;
    cursor: pointer;
    background-color: #01abad;
    color: #fff;
    font-weight: 200;
    border-radius: 3px;
}
.clear{
    clear: both;
}
.main{
    background-color: #FEFFEF;
    border-radius: 10px;
    color: #4A4A4A;
    margin-bottom: 20px;
}
.personal_area{
    width: 100%;
    height: 380px;
    float: left;
}
.tool_bar{
    width: 220px;
    height: 40px;
    float: right;
    margin-right: 30px;
}
.tool_bar li{
    list-style: none;
    float: left;
    width: 33.3%;
    cursor: pointer;
}
.tool_bar img{
    width:40px;
    opacity: 0.5;
}
.tool_bar img:hover{
    opacity: 1;
    -webkit-transition: 0.8s;
}
.board{
    width:100%;
    height: 330px;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
    font-size: 20px;
}
#square{
    width:90px;
    height:30px;
    background-color:#01abad;
    text-align: center;
    border-radius: 5px;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    position: absolute;
    top:-35px;
    left: 40px;
    display: none;
}
.track{
    padding-left: 40px;
    width: 200px;
    font-size: 20px;
    float: left;
    line-height: 40px;
    text-align: left;
    position: relative;
}
.track input{
   -webkit-appearance: none;
}
.track input[type="checkbox"]{
    background: url("../image/cancerlike.png") no-repeat;
    background-size:contain;
    width:30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
}
.track input[type="checkbox"]:checked{
    background: url("../image/like.png") no-repeat;
    background-size:contain;
    width:30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
}
#pic{
    float: left;
}
.personal_info{
    width: 300px;
    float: right;
    font-size: 20px;
    text-align: right;
    padding-right: 40px;
}
.personal_info li{
    float: left;
    list-style: none;
    width: 50%;
    display:table-cell;
}
.personal_info img{
    width:30px; 
    margin-right: 10px;
}
.chatroom{   
    width: 100%;
    height: 150px;
    border-top: 1px solid #4A4A4A;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 25px;
    font-size: 20px;
    box-sizing: border-box;
    overflow: auto;
}
.chatroom a{
    text-decoration: none;
    color: #4A4A4A;
}
.chatroom a:hover{
    color: #01abad;
}
.reply{
    width: 100%;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
    border-left: none;
    border-right: none;
    padding-left: 7px;
    box-sizing: border-box;
    background-color: #25CED1;
    font-family: 微軟正黑體;
    color: #F5F5F5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.reply::-webkit-input-placeholder{
    color: #F5F5F5;
}

/*-------------------------------------------------------------------------------------*/
.button
{
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #0C5;
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 220px;
  height:40px;
  background: #FF0000;
  border: 1px solid #FF0000;
  color: #FFF;
  overflow: hidden; 
  transition: all 0.5s;
}

.button:hover, .button:active 
{
  text-decoration: none;
  color: #FF0000;
  border-color: #FF0000;
  background: #FFF;
  cursor: pointer;
}

.button span 
{
  display: inline-block;
  position: relative;
  padding-right: 0;
  font-family:微軟正黑體;
  transition: padding-right 0.5s;

}

.button span:after 
{
  content: '☹';  
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 20px;
  height: 20px;
  margin-top: -12px;
  background: rgba(0, 0, 0, 0);
}

.button:hover span, .button:active span 
{
  padding-right: 30px;
}

.button:hover span:after, .button:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #0C5;
  right: 0;
  top: 50%;
}

/*-------------------------------------------------------------------------------------*/
@media only screen and (max-width:800px) {
    #content{
        width: 100%;
    }
    #content b{
        display: none;
    }
    #content b1{
        display: none;
    }
    #content h2>br{
        display: block;
    }
    h3{
        display: none;
    }
    .main{
        border-left: none;
        border-right: none;
        border-radius: 0px;
        margin-bottom: 0px;
    }
    .board{
        margin-bottom: 15px;
    }
    .personal_area{
        width: 100%;
        text-align: center;
        float: none;
    }
    .tool_bar{
        margin-right: 20px;
    }
    .track{
        padding: 0px;
        font-size: 18px;
        width: 40%;
        padding-left: 3%;
    }
    .personal_info{
        width: 54%;
        padding-right: 3%;
        max-width: 300px;
    }
    .personal_info li{
        width:50%;
    }
    .square{
        left: 15px;
    }
    .reply{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px; 
    }
}

/*------------------------------------------------------------------------------------------*/

@media only screen and (max-width:500px){
    .tool_bar{
        margin-right: 5px;
    }
    .track img{
        margin-right: 5px;
        width: 25px;
    }
    .personal_info img{
        width: 25px;
    }
    .square{
        left: 0px;
    }
    .chatroom{
        font-size: 18px;
    }
}
@media only screen and (max-height:720px){
    .personal_area{
        height: 360px;
    }
    .board{
        height: 300px;
    }
}
@media only screen and (max-height:700px){
    .personal_area{
        height: 350px;
    }
    .board{
        height: 290px;
    }
}
@media only screen and (max-height:650px){
    .personal_area{
        height: 335px;
    }
    .board{
        height: 275px;
    }
}