html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}


/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-------------------------------------------------------------------------------------------------------------*/

#content{
    width: 100%;
}

#content b{
    font-weight: 200;
}
#content br{
    display: none;
}
.clear{
    clear: both;
}
.profile_pic{
    margin-left: auto;
    margin-right: auto; 
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}
#userimg{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;    
    border-radius: 5px;   
    cursor: pointer;
}
.upload_area{
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: #282827;
    opacity: 0.7;
    background-repeat: no-repeat;
    font-size: 18px;
    color: #fff;
    text-decoration:none;
    position: absolute;
    left: 0px;
    top: 160px;
    box-sizing: border-box;
    padding-left: 10px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
}
#upload{
    cursor: pointer;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
    position: absolute;
    right: 0;
    top: 0;
}
.dialog{
    width: 200px;
    height: 40px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    background: #F9F9F9;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    border: 0.5px solid #c5c5c5;
    display: none;
    z-index: 2;
    top: 160px;
    left: 0px;
    padding: 7.5px;
}
.dialog input{
    width: 75px;
    height: 25px;
    font-size: 16px;
    font-family: 微軟正黑體;
    border-radius: 2px;
    background: #fff;
    cursor: pointer;
}
.change_ok{
    width: 180px;
    height: 30px;
    border: 0.5px solid #c5c5c5;
    box-shadow: 0 0 15px rgba(0,0,0,.18);
    background: #fff;
    font-size: 18px;
    position: absolute;
    top: 85px;
    left: 10px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    display: none;
}
.change_fail{
    width: 180px;
    height: 30px;
    border: 0.5px solid #c5c5c5;
    box-shadow: 0 0 15px rgba(0,0,0,.18);
    background: #fff;
    font-size: 18px;
    position: absolute;
    top: 85px;
    left: 10px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    display: none;
}
.send{
    float: left;
    border: 1px solid #00bfff;
    color: #00bfff;
}
.send:hover{
    -webkit-transition: 1s;
    border: none;
    background: #00bfff;
    color: #fff;
}
.cancel{
    float: right;
    border: 1px solid #FE4A49;
    color: #FE4A49;
}
.cancel:hover{
    -webkit-transition: 0.5s;
    border: none;
    background: #FE4A49;
    color: #fff;
}
.profile{
    font-family: 'Quicksand', sans-serif,微軟正黑體; 
    color: #696969;
    line-height: 35px;
    text-align: center;
}
.profile li{
    display: block;
    width: 70%;
    border-bottom: 1px solid grey;
    text-align: left;
    display: inline-block;

}
.name_blank{
    text-align: right;
    float: right;
    font-style: border;
}
#changename {
    height: 60px;
    margin-left: 15%;
    display: none;
    background: #F8F8FF;
}
#changeemail {
    height: 60px;
    margin-left: 15%;
    display: none;
    background: #F8F8FF;
}
#changeHobby {
    height: 60px;
    margin-left: 15%;
    display: none;
    background: #F8F8FF;
}
#changeFavSinger {
    height: 60px;
    margin-left: 15%;
    display: none;
    background: #F8F8FF;
}
#changeFav_Songs {
    height: 60px;
    margin-left: 15%;
    display: none;
    background: #F8F8FF;
}
#change_name_blank{
    text-align: right;
    float: right;
}
#change_name_blank input{
    width: 200px;
    display: block;
    border-style: none;
    line-height: 25px;
    font-size: 14px;
}
#change{
    cursor: pointer;
}
#change1{
    cursor: pointer;
}
#change2{
    cursor: pointer;
}
#change3{
    cursor: pointer;
}
#change4{
    cursor: pointer;
}
#changeinfoName{
    background-color: #25CED1;
    color: #fff;
    border-radius: 2px;
    width: 100px;
    cursor: pointer;
}
#changeinfoName:hover{
    background-color: #16B7BA;
}
#changeinfoEmail{
    background-color: #25CED1;
    color: #fff;
    border-radius: 2px;
    width: 100px;
    cursor: pointer;
}
#changeinfoEmail:hover{
    background-color: #16B7BA;
}
#changeinfoHobby{
    background-color: #25CED1;
    color: #fff;
    border-radius: 2px;
    width: 100px;
    cursor: pointer;
}
#changeinfoHobby:hover{
    background-color: #16B7BA;
}
#changeinfoFavSinger{
    background-color: #25CED1;
    color: #fff;
    border-radius: 2px;
    width: 100px;
    cursor: pointer;
}
#changeinfoFavSinger:hover{
    background-color: #16B7BA;
}
#changeinfoFav_Songs{
    background-color: #25CED1;
    color: #fff;
    border-radius: 2px;
    width: 100px;
    cursor: pointer;
}
#changeinfoFav_Songs:hover{
    background-color: #16B7BA;
}
.profile input{
    width: 200px;
    border-style: none;
    text-align: center;
    font-family: 'Quicksand', sans-serif,微軟正黑體;
    font-weight: lighter;
}
#track_list{
    text-align: center;
}
#track_list a{
    text-decoration: none;
}
#track_list li{
    line-height: 200%;
    width: 32%;
    font-size: 120%;
    border-bottom: none;
    display: inline-block;
    text-align: center;
    letter-spacing: 5px;
}
#track_list img{
    display: none;
}

/*----------------------------------------------button--------------------------------------------------*/
                                        
.typ-subhed {
  z-index: 1;
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: 0;
  padding:5px;
  font-weight: bold;
  margin-top: 20px;
  letter-spacing: 1px;
}
.ctrl-standard.fx-sliderIn {
  color: #00bfff;
  border-color: #87ceeb;
  background: white;
}
.ctrl-standard.fx-sliderIn::after {
  background: #7fffd4;
}
.ctrl-standard.fx-sliderIn.is-reversed::after {
  width: 300%;
}
.ctrl-standard.fx-sliderIn.is-reversed:hover {
  color: #87ceeb;
}
.ctrl-standard.fx-sliderIn.is-reversed:hover::after {
  width: 0;
}
[class*="ctrl-"] {
  padding: 5ox 10px;
  border-radius: 2px;
  border: 1px solid white;
}
[class*="ctrl-"][class*="fx-"]:hover,
[class*="ctrl-"][class*="fx-"].active {
  color: white;
}
[class*="ctrl-"][class*="fx-"].is-reversed {
  color: white;
}

  [class*="fx-"],
[class*="fx-"]:hover {
    -webkit-transition: color 0.5s  ease-in-out;
    transition: color 0.5s  ease-in-out;
  }
  [class*="fx-"]:not(.fx-dyna) {
    position: relative;
    z-index: 1;
    -webkit-transition-delay: 0.2s !important;
            transition-delay: 0.2s !important;
    overflow: hidden;
  }
  [class*="fx-"]:not(.fx-dyna)::after,
[class*="fx-"]:not(.fx-dyna)::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
  }
  [class*="fx-bubble"]::after {
    -webkit-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
  }
  [class*="fx-bubble"]:hover::after,
[class*="fx-bubble"].active::after {
    -webkit-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
    height: 300%;
  }
  [class*="fx-bubble"]:disabled:hover::after {
    height: 0;
  }
  .fx-sliderIn::after {
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
  }
  .fx-sliderIn:hover::after,
.fx-sliderIn.active::after {
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    width: 100%;
  }
  :checked + .fx-sliderIn::after,
.fx-sliderIn.active::after {
    width: 300%;
  }

/*-------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width:800px) {
    #content h2{
        width: 80%;
        min-width: 200px;
    }  
    #content br{
        display: block;
    }
    .bar_item{
        margin-bottom: 10px;
    }
    .bar li{
        margin-top: 20px;
        line-height: 20px;
    }
    h3{
        display: none;
    }
    #content{
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    #content b{
        display: none;
    }
    #content h2>br{
        display: block;
    }
    .profile li{
        margin-top:8px;
        font-size: 130%;
        width: 100%;
        float: none;
        text-align: center;
    }
    .profile input{
        text-align: center;
        font-size: 110%;
        width: 100%;
    }
    .name_blank{
        float: none;
        text-align: center;
    }
    #track_list{
        text-align: center;
    }
    #track_list li{
        line-height: 200%;
        width: 25%;
        font-size:100%;
        border-bottom: none;
        display: inline-block;
        text-align: center;
        letter-spacing: 5px;
    }
    #track_list b{
        display: none;
    }  
    #track_list img{
        display:inline-block;
        width: 50%;
    }
}