html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}


/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-------------------------------------------------------------------------------------------------------------*/
.content{
    width: 80%;
    margin: auto;
}
.content b{
    font-weight: 200;
}
.content h2>br{
    display: none;
}
.clear{
    clear: both;
}
.setting_person{
    margin-left: 50px;
    margin-bottom: 40px;
    border-left: 2px solid grey;
}
.setting_person p{
    font-size: 20px;
    margin-bottom: 5px;
    float: left;
}
.setting_person ul{
    margin-top: 30px;
}
.setting_person li {
    line-height: 50px;
    margin-left: 10px;
    box-sizing: border-box;
}

/*----------------------------------------------------------------------------*/
h4{
    font-size: 22px;
    font-weight: 100;
}
.button-wrap {
    width: 90px;
    cursor: pointer;
    float: right;
    padding-top: 1%;
    box-sizing: border-box;
}
.button-bg {
    width: 100%;
    background-color: #bb2222;
    border-radius: 40px;
    padding: 3px;
    color:#fff;
    transition:all 0.2s ease;
    box-sizing: border-box;
}
.button-switch {
    position:relative;
    left:0px; /*圓形的位置*/
    width: 35px;
    height: 30px;
    border:solid 12px;
    background-color:#fff;
    border-radius: 36px;
    transition:all 0.2s ease;
    box-sizing: border-box;
}
.button-active .button-switch { left:49px; }
.button-in, 
.button-out {
  position:absolute; 
  transition:all 0.2s ease;
  padding-top:15px;
  font-size:0.8em;
  text-transform:uppercase;
  font-weight:bold;
  box-sizing: border-box;
}
.button-in { margin-left:76px; }
.button-out { margin-left:18px; }
.button-active .button-out {  }
.button-active .button-in {  }
.button-active .button-bg { background-color:#22bb22; }
/*--------------------------------------*//*--------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width:800px) {
    .content{
        width: 100%;
    }
    .content b{
        display: none;
    }
    .content h2>br{
        display: block;
    }
    .setting_person{
        margin-left: 5%;
        margin-right: 5%;
    }
    .button-wrap{
        width: 80px;
        padding-top: 4%;
    }
    .button-switch {        
        width: 30px;
        height: 20px;
    }
    .button-active .button-switch { left:44px; }
}