<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link rel="stylesheet" href="CSS/battle.css">
	<link rel="stylesheet" href="CSS/all.css">
	<title>MicMusic</title>
</head>
<body onunload="if(event.clientY<0) document.location=document.location.href">
	
	<div class="wrap">
		<div class="header">
			<h1><img src="image/Logo2.png"></h1>
			<div class="menu">
				<div class="search">
					<input type="text" class="search_blank" placeholder="輸入id找歌手">
					<input type="image" class="search_image" src="image/search.png">
					
				</div>
				<br>
				<ul>
					<li><a href="battle.html"><img src="image/menu_battle.png" width="15%">  &nbsp<b>大亂鬥</b></a></li>
					<li><a href="channel.html"><img src="image/menu_personal.png" width="15%"> &nbsp<b>個人頻道</b></a></li>
					<li><a href="personalinfo.php"><img src="image/menu_person_info.png" width="15%"> &nbsp<b>我的資料</b></a></li>
					<li><a href="setting.html"><img src="image/menu_setting.png" width="15%"> &nbsp<b>設定</b></a></li>
				</ul>
			</div>
		</div>
	</div>
	<hr>
	<div class="wrap">
		<div id="content">
			<h2>大亂鬥頻道選擇<b>/</b><br>Battle Choice</h2>
			<div class="bar">
				<ul>
					<li><a href="main.html"><div class="battle_channel" style="background: #FF2D2D;"></div></a><h3>頻道1</h3>目前人次：9527<br>排麥人數：33</li>
					<li><a href=""><div class="battle_channel" style="background: #0080FF;"></div></a><h3>頻道2</h3>目前人數：8763<br>收藏人數：27</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer_space">
		<footer>
				<h4>MicMusic</h4>
				<p>© 2016 All rights reserved.</p>
				<p>NUKIM 106專題開發</p>
				<ul>
			<li><a href="battle.html"><img src="image/battle_chosen.png"></a></li>
			<li><a href="channel.html"><img src="image/personal.png"></a></li>
			<li><a href="personalinfo.php"><img src="image/person_info.png"></a></li>
			<li><a href="setting.html"><img src="image/setting.png"></a></li>
			</ul>
		</footer>
	</div>
</body>
</html>