<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link rel="stylesheet" href="CSS/channel.css">
	<link rel="stylesheet" href="CSS/all.css">
	<title>MicMusic</title>
</head>
<body>
	<div class="wrap">
		<div class="header">
			<h1><img src="image/Logo2.png"></h1>
			<div class="menu">
				<div class="user"></div>
				<div class="search">
					<input type="text" class="search_blank" placeholder="輸入ID找歌手">
					<input type="image" class="search_image" src="image/search.png" alt="submit">
				</div>
				<br>
				<ul>
					<a href="battle.html"><li><img src="image/menu_battle.png" width="15%">  &nbsp<b>大亂鬥</b></li></a>
					<li><a href="channel.php"><img src="image/menu_personal.png" width="15%"> &nbsp<b>個人頻道</b></a></li>
					<li><a href="personalinfo.html"><img src="image/menu_person_info.png" width="15%"> &nbsp<b>我的資料</b></a>
					</li>
					<li><a href="setting.html"><img src="image/menu_setting.png" width="15%"> &nbsp<b>設定</b></a></li>
				</ul>
			</div>
		</div>
	</div>
	<hr>
	<div class="wrap">
		<div id="content">
			<h2>熱門頻道<b>/</b><br>Popular Channel</h2>
			<div class="bar">
				<ul>
					<li><a href="personal_channel_1.html"><div class="bar_item" style="background: #20A4F3;"></div></a>在線人數：9527<br>收藏人數：666
					</li>
					<li><a href="#"><div class="bar_item" style="background: #FF3366;"></div></a>在線人數：8763<br>收藏人數：870
					</li>
					<li><a href="#"><div class="bar_item" style="background: #F9C22E;"></div></a>在線人數：6666<br>收藏人數：426
					</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>	
	</div>
	<div class="footer_space">
	<footer>
		<h3>MicMusic</h3>
		<p>© 2016 All rights reserved.</p>
		<p>NUKIM 106專題開發</p>
		<ul>
			<li><a href="battle.html"><img src="image/menu_battle.png"></a></li>
			<li class="cho"><a href="channel.html"><img src="image/personal_chosen.png"></a></li>
			<li><a href="personalinfo.html"><img src="image/person_info.png"></a></li>
			<li><a href="setting.html"><img src="image/setting.png"></a></li>
		</ul>
	</footer>
	</div>
</body>
</html>