<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="http://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css" >
	<link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css" >
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link rel="stylesheet" href="CSS/register.css">
	<link rel="stylesheet" href="CSS/all.css">
	<title>MicMusic</title>
</head>
<body>
	<div class="wrap">
		<div class="header">
			<h1><div class="Logo"><img src="image/Logo2.png"></div></h1>
			<div class="menu">
				<div class="search">
					<input type="text" class="search_blank" placeholder="輸入id找歌手">
					<input type="image" class="search_image" src="image/search.png">
				</div>
				<br>
				<ul>
					<li><a href="battle.html"><img src="image/menu_battle.png" width="15%">  &nbsp<b>大亂鬥</b></a></li>
					<li><a href="channel.html"><img src="image/menu_personal.png" width="15%"> &nbsp<b>個人頻道</b></a></li>
					<li><a href="personalinfo.php"><img src="image/menu_person_info.png" width="15%"> &nbsp<b>我的資料</b></a></li>
					<li><a href="setting.html"><img src="image/menu_setting.png" width="15%"> &nbsp<b>設定</b></a></li>
				</ul>
			</div>

		</div>
	</div><hr>
	<div class="wrap">
		<div id="content">
			<h2>註冊<b>/</b><br>Register</h2>
				<div class="profile_pic"><img src="image/profilepic.jpg" alt=""></div>
				<div class="profile">
					<ul>
						<li>
							<b>請輸入用戶/ID</b>
							<div class="name_blank"><input type="text" id="id"></div>
						</li>
						<li>
							<b>請輸入密碼/Password</b>
							<div class="name_blank"><input type="password" id="pwd"></div>
						</li>
						<li>
							<b>確認密碼/<br>Confirm Password</b>
							<div class="name_blank"><input type="password" id="repwd"></div>
						</li>
						<li>
							<b>請輸入姓名/Name</b>
							<div class="name_blank"><input type="text" id="name"></div>
						</li>
						<li>
							<b>請輸入電子郵件/E-mail</b>
							<div class="name_blank"><input type="text" id="mail"></div>
						</li>
						<li>
							<b>請輸入興趣/Hobby</b>
							<div class="name_blank" ><input type="text" id="hobby" placeholder="如:唱歌、運動"></div>
							</li>
						<li>
							<b>請輸入喜歡的歌手/ <br>Favorate Singer</b>
							<div class="name_blank" ><input type="text" id="favsinger" placeholder="如:羅百吉"></div></li>
						<div class="clear"></div>	
						
							
						<div class="clear"></div>
						
						<button class="ctrl-standard typ-subhed fx-sliderIn" id="sub">Submit</button>
						<p id="submitresult"></p>
					</ul>
				</div>
			<div class="clear"></div>
		</div>	
	</div>
	<script type="text/JavaScript">
document.getElementById("sub").onclick = function() {
    // 發送 Ajax 查詢請求並處理
    var request = new XMLHttpRequest();
    request.open("POST", "registerconnect.php");
     var data = "id=" + document.getElementById("id").value +
                "&pwd=" + document.getElementById("pwd").value +
                "&repwd=" + document.getElementById("repwd").value +
                "&name=" + document.getElementById("name").value +
                "&mail=" + document.getElementById("mail").value +
                "&hobby=" + document.getElementById("hobby").value +
                "&favsinger=" + document.getElementById("favsinger").value;

    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");     
    request.send(data);

    request.onreadystatechange = function() {
        // 伺服器請求完成
        if (request.readyState === 4) {
            // 伺服器回應成功
            if (request.status === 200) {
                var type = request.getResponseHeader("Content-Type");   // 取得回應類型
                
                // 判斷回應類型，這裡使用 JSON
                if (type.indexOf("application/json") === 0) {               
                    var data = JSON.parse(request.responseText);
                    console.log("test");
                    if (data.id) {
                        document.getElementById("submitresult").innerHTML = '成功註冊 ' +data.name ;
                    } else {
                        document.getElementById("submitresult").innerHTML = data.msg;
                    }
                }
            } else {
                alert("發生錯誤: " + request.status);
            }
        }
    }
}
</script>
	<div class="footer_space">
	<footer>
		<h3>MicMusic</h3>
		<p>© 2016 All rights reserved.</p>
		<p>NUKIM 106專題開發</p>
		<ul>
			<li><a href="battle.html"><img src="image/menu_battle.png"></a></li>
			<li><a href="channel.html"><img src="image/personal.png"></a></li>
			<li><a href="personalinfo.php"><img src="image/person_info_chosen.png"></a></li>
			<li><a href="setting.html"><img src="image/setting.png"></a></li>
		</ul>
	</footer>
	</div>
</body>
</html>